@model MemberDetailsViewModel

<div class="card">
    <div class="card-body">
        <div class="member-details">
            <p class="card-title card-title-name"><strong>Name:</strong> @Model.Name</p>
            <p class="card-title card-title-name"><strong>Membership ID: </strong>@Model.MembershipID</p>
            <p class="card-title card-title-name"><strong>Phone Number: </strong>@Model.PhoneNumber</p>
            <p class="card-title card-title-name"><strong>Membership Status: </strong>@Model.MembershipStatus</p>
        </div>
    </div>
</div>
<br />