html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-container {
    display: flex;
    gap: 15px;
}

.card-img{
    height: 450px;
    width: 600px;
}

.burger-details{
    position: absolute;
    margin-left: 700px;
    margin-top: -400px;
}

.HomeIndexBtns{
    display: flex;
    gap: 10px;
}

.btnHomePage{
    height: 40px;
}

.btnCreateBurger {
    height: 40px;
}

.OrderPartialBtns {
    display:flex;
    gap: 10px;
}

.OrderIndexBtns {
    display: flex;
    gap: 10px;
    height: 40px;
}

.selectBurgers {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

.orderNumber{
    /*margin-left: 20px;*/
    text-align:center;
    font-size: 30px;
    color:chocolate ;
}